<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>links</title>
    <link rel="stylesheet" type="text/css" href="./link.css">
  </head>

  <body>


    <h1 class="linkheading" >Key Topics</h1>

    <div class="nav">
      <a href='/links/ruby' id="category">Ruby</a>
      <a href='/links/javascript' id="category">Javascript</a>
      <a href='/links/HTML_CSS' id="category">HTML &amp; CSS</a>
      <a href='/links/web' id="category">Web Apps</a>
      <a href='/links/general' id="category">General</a>
    </div>

    <ul id="links">
      <% @links.each do |link| %>
        <% cat_string = '' %>
        <% link.categories.each {|category| cat_string << category.name + " "} %>
          <ul>
            Title: <a href="<%= link.url %>"><%= link.title %></a>
            Category: <%= cat_string %>
            Description: <%= link.description %>
          </ul>
      <% end %>
    </ul>

<a href='/links/new'>Add a new link</a>


  </body>


</html>
